{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content%}
  <div class="container h-100">
        <div class="row h-100"> 
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white">
                    The Pet Hub 
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn  btn-lg rounded-0 text-uppercase py-3"><strong>Start Shopping!</strong></a>
                    </h4>
                    <div class="my-5">
                    <h4>
                        <a href="{% url 'blog' %}" class="shop-now-button btn  btn-lg rounded-0 text-uppercase py-3"><strong>Read Our Blog!</strong></a>
                    </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="gallery">
        <header class="gallery-head">
          <h2>The PET HUB BLOG </h2>
          <h3>
           Articles Written by Local Pet Experts!
           Sign Up for The Pet Hub and submit your questions!</h3>
        </header>
    <div class="card-deck">
  <div class="card">
  <img class="card-img-top" src="{{ MEDIA_URL }}from_pets_webmd.jpg" alt="cat image ">
  <div class="card-body">
  <h3 class="card-title"><strong>How To Keep Your Cat's Weight In Check</strong></h3>
  <p class="card-text">Obesity is one of the most common health problems seen by vets, take steps now to keep your cat healthy and active </p>
  <a href="/blog/cat-weight-diet-nutrition/" class="btn btn-danger active" role="button" aria-pressed="true">READ MORE</a>
  </div>
  
  </div> 
  <div class="card">
  <img class="card-img-top" src="{{ MEDIA_URL }}espares_blog.jpg" alt="kennels image">
  <div class="card-body">
  <h3 class="card-title"><strong>Kennels or Cattery? or A Pet Sitter?</strong></h3>
  <p class="card-text">What do you do when you go on holiday? Get your questions answered here by Vet Tom Allen from Didsbury Small Pet Clinic  </p>
  <a href="blog/dog-boarding-kennels/" class="btn btn-danger active" role="button" aria-pressed="true">READ MORE</a>
  </div>
  
  </div>
  <div class="card">
  <img class="card-img-top" src="{{ MEDIA_URL }}pexels-photo-1108099.jpeg" alt="puppy image">
  <div class="card-body">
  <h3 class="card-title"><strong>New Puppy? Common Questions From Owners</strong></h3>
  <p class="card-text">Specialist Puppy Trainer Marika Poeler answers all your concerns about your new puppy!</p>
  <a href="/blog/puppy-nutrition-care-tips/" class="btn btn-danger active" role="button" aria-pressed="true">READ MORE</a>
  </div>
 
  </div>
  </div>
    </section>
      
{% endblock %}