<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item- d-block d-md-none"><a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link" >
                Home
            </a>

        </li>
          <li class="nav-item">
            <a  href="{% url 'blog' %}" class="logo-font font-weight-bold nav-link text-black mr-5">
                Blog
            </a>
            </li> 
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dogs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dogs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dogs-link">
                <a href="{% url 'products' %}?category=harness_collars" class="dropdown-item">Harness &amp; Collars</a>
                <a href="{% url 'products' %}?category=coats" class="dropdown-item">Coats</a>
                <a href="{% url 'products' %}?category=dog_grooming" class="dropdown-item">Grooming</a>
                <a href="{% url 'products' %}?category=dog_feeding" class="dropdown-item">Feeding</a>
                <a href="{% url 'products' %}?category=harness_collars,coats,dog_grooming,dog_feeding" class="dropdown-item">All Dog Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cats-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cats-link">
                <a href="{% url 'products' %}?category=cat_collars" class="dropdown-item">Collars</a>
                <a href="{% url 'products' %}?category=cat_toys" class="dropdown-item">Toys</a>
                <a href="{% url 'products' %}?category=cat_feeding" class="dropdown-item">Feeding  &amp; Fountains</a>
                <a href="{% url 'products' %}?category=cat_collars,cat_toys,cat_feeding" class="dropdown-item">All Cat Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Best Sellers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=best_sellers" class="dropdown-item">Best Sellers</a>
                <a href="{% url 'products' %}?category=new_arrivals,best_sellers" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>