{% block sidebar %}



<!-- Sidebar Widget for Services Advert  -->
<div class="col-md-4 float-right">
    <div class="card my-4">
        <h5 class="card-header">Cheadle Dog Kennels</h5>
        <div class="card-body">
            <p class="card-text">For a home away from home for your pup! Visit us now and see our luxury kennels. Devoted staff and plenty of walks and exercise for your dogs. We have a Cattery too! </p>
            <a href="#" class="btn btn-warning">Visit our website!</a>
        
        </div>
    </div>
</div>
{% endblock sidebar %}